.footer{
    background: #000;
}

.footer-container{
    max-width: 1500px;
    padding: 7.5rem 1.25rem 3.75rem 1.25rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    align-items: center;
}

.footer-texto{
    font-size: 1.5rem;
    line-height: 1.33;
    color: #CCCCCC;
}

.footer-contato li{
    font-weight: bold;
    font-size: 2,25rem;
    color: #FFF;
    line-height: 1.1;
    margin-bottom: 1.875rem;
}

.footer-contato li a{
    text-decoration: none;
    color: #FFF;
}

.footer-copy{
    grid-template-columns: 1 / -1;
    font-size: 1.125rem;
    color: #8F8F8F;
}

@media (max-width: 800px){

    .footer-container{
        grid-template-columns: 1fr;
        gap: 40px;
    }

    .footer-contato li{
        font-size: 1.25rem;
    }

}