.formacao{
    background: #141414;
    color: #FFF;
}

.formacao-container{
    max-width: 1500px;
    padding: 7.5rem 1.25rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 100px;
    align-items: center;
    position: relative;
}

.formacao-container::after{
    content: "";
    display: block;
    width: 8.125rem;
    height: 6.25rem;
    background: url('../img/detalhe.svg') no-repeat center;
    position: absolute;
    bottom:  -3.125rem;
    left: 1.25rem;
}

.formacao .subititulo{
    color: #000;
    max-width: 5ch;
}

.formacao-texto{
    font-size: 1.5rem;
    line-height: 1.33;
    max-width: 40ch;
    margin-bottom: 60px;
    color: #A3A3A3; 
}

.formacao-texto strong{
    color: #FFF;
}

.faculdade-lista{
    display: flex;
    flex-wrap: wrap;
    gap: 1.25rem;
    margin-bottom: 3.75rem;
}

.faculdade{
    display: flex;
    flex-direction: column;
    background: #000;
    padding:  1.25rem;
    border-radius: 0.25rem;
    flex: 1;
}

.faculdade-tipo{
    font-size: 0.875rem;
    text-transform: uppercase;
    color:  #A3A3A3;
    margin-bottom: 1rem;
}

.faculdade-curso{
    font-size: 1.125rem;
    line-height: 1.4;
    margin-bottom: 2.5rem;
    position: relative;
    flex: 1;
}

.faculdade-curso::before {
    content: "";
    display: block;
    width: 4px;
    height: 20px;
    background: linear-gradient(#b6f829, #67dd0a);
    position: absolute;
    left: -24px;
  }

.faculdade-intituicao{
  font-size: 1.125rem;
    color: #A3A3A3;   
}

.cursos{
    margin-bottom: 3.75rem;
}

.formacao-extra h3{
    font-size:  1rem;
    line-height: 1.4;
    color: #8F8F8F;
    text-transform: uppercase;
    margin-bottom: 1.875rem;
    position: relative;
}

.formacao-extra h3::before{
    display: block;
    content: "";
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    left: -2.25rem;
    top: -0.25rem;
}

.cursos h3::before{
    background: url("../img/cursos.svg") no-repeat center center;
}

.idiomas h3::before{
    background: url("../img/idiomas.svg") no-repeat center center;
}

.formacao-extra li{
    font-size: 1.125rem;
    line-height: 1.1;
    margin-bottom: 1.25px;
}

.formacao-extra span{
    color: #8F8F8F;
}

.cursos li{
    display: flex;
    justify-content: space-between;
}


@media (max-width: 800px){

    .formacao-container{
        grid-template-columns: 1fr;
        padding: 3.75rem 1.25rem;
        gap: 40px;
    }

    .formacao .subititulo{
        color: #FFF;
    }

    .formacao-texto{
        font-size: 2rem;
    }

    .formacao-extra h3::before{
        position: initial;
        margin-bottom: 0.625rem;
    }

}