body{

    margin:  0rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #141414;
    margin-bottom: 2000px;

}

h1, 
h2, 
h3, 
p{
    margin: 0rem;
}

ul{
    margin: 0rem;
    padding: 0rem;
    list-style: none;
}

img{
    max-width: 100%;
    display: block;
}

.subtitulo{
    font-size: 10rem;
    word-break: break-all;
    line-height: 1;
    max-width: 4ch;
    text-transform: uppercase;
    
}

@media (max-width: 800px){
    
    .subtitulo{
      font-size: 3rem;
      text-transform: capitalize;
      max-width: initial;  
    }

}
