body{

    margin:  0rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #141414;

}

h1, h2, h3, p{
    margin: 0rem;
}

ul{
    margin: 0rem;
    padding: 0rem;
    list-style: none;
}

img{
    max-width: 100%;
    display: block;
}