.header{
    max-width: 75rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem 1.25rem;
}

.header-menu{
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}

.header-menu a{
    font-size: 1.125rem;
    text-decoration: none;
    color: #141414;
    padding: 1rem 1.25rem;
    border: 2px solid transparent;
    display: block;
}

.header-menu a:hover{
    border-color: #141414;
    border-radius: 4px;
}

@media (max-width: 800px){
    
    .header{
        flex-direction: column;
        gap: 2.5rem;
        padding: 1.25rem;
    }

    .header-menu a{
        background-color: #F5F5F5;
        border-radius: 4px;
    }

}