.introducao{
    max-width: 72rem;
    padding: 2.5rem 1.25rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 6.25rem;
    align-items: center;
}

.introducao h1{
    font-size: 4.5rem;
    line-height: 1.125;
    margin-bottom: 2rem;
    position: relative;
}

.introducao h1::before{
    content: "";
    display: block;
    width: 8.125rem;
    height: 6.25rem;
    background: url('../img/detalhe.svg') no-repeat center;
    position: absolute;
    top: -1rem;
    left: -2.5rem;
    z-index: -1;
}

.introducao p{
    font-size: 1.5rem;
    color: #525252;
}

@media (max-width: 1000px){

    .introducao h1{
        font-size: 3rem;
    }

}

@media (max-width: 800px){

    .introducao{
        grid-template-columns: 1fr 1fr;
        gap: 2.5rem;
    }

    .introducao h1{
        font-size: 2rem;
    }

    .introducao h1::before{
        width: 2rem;
        height: 1rem;
        left: 0rem;
    }

}

@media (max-width: 600px){

    .introducao img{
        display: none;
    }

    .introducao{
        grid-template-columns: 1fr;
        text-align: center;
        padding: 0rem;
    }

    .introducao h1{
        font-size: 4rem;
        margin-top: 1rem;
    }
    
    .introducao h1::before{
        display: none;
    }
    
}
